video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

#main .busd {
  color: #f4c444;
  font-weight: bold;
}

.main-card-info {
  /* margin-top: 100px; */
}

.main-card-header {
  /* margin-bottom: 30px; */
}

.mobile-space {
  margin-top: 30px;
}

@media screen and (max-width: 999px) {
  .mobile-space {
    margin-top: 100px;
  }
}

@media screen and (max-width: 775px) {
  .mobile-space {
    margin-top: 50px;
  }
}

@media screen and (max-width: 400px) {
  .mobile-space {
    margin-top: 100px;
  }
}

@media screen and (max-width: 280px) {
  .mobile-space {
    margin-top: 150px;
  }
}
